@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
nav{
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
}
.logo h2 a{
    color: black;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    margin: 0 20px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Shippori Antique B1', sans-serif;
}
.log_reg{
    display: flex;
    
}
.log_reg .sign{
    margin-right: 50px;
    padding: 5px 25px;
    background-color: rgb(238, 131, 9);
    border-radius: 35px;
}
.log_reg .sign a{
    color: white;
    text-decoration: none;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 15px;
}
.log_reg .log{
    margin-right: 10px;
    padding: 5px 25px;
    border: 2px solid rgb(230, 133, 7);
    border-radius: 35px;
}
.log_reg .log a{
    color: rgb(230, 133, 7);
    text-decoration: none;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 15px;
}
.midPart{
    margin-top: 130px;
    margin-left: 80px;
    display: flex;
    position: relative;
}
.info{
    margin-top: 15px;
    
}
.info h1{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 15px;
}
.info p{
    font-family: 'Shippori Antique B1', sans-serif;
    margin-bottom: 20px;
}
.secondNav{
    display: flex;
}
.secondNav .head3{
    
    padding: 10px 20px;
    background-color: rgb(238, 131, 9);
    border-radius: 35px;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 15px;
    
}
.secondNav .head3 a{
    color: white;
    text-decoration: none;
}
.secondNav .head4{
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 2px solid rgb(238, 131, 9);
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 15px;
}
.secondNav .head4 a{
    color: rgb(238, 131, 9);
    text-decoration: none;
}
.image{
    margin-left: 450px;
    position: absolute;
    top: -130px;
}
.image img{
    width: 900px;
    height: 500px;
}
.socialLink{
    margin-left: 50px;
    margin-top: 180px;
    display: flex;
}
a{
    margin: 0 7px;
}
a .facebook{
    width: 23px;
    height: 23px;
    border: none;
}
a .gmail{
    width: 23px;
    height: 23px;
    border: none;
}
a .instragram{
    width: 23px;
    height: 23px;
    border: none;
}
a .twiter{
    width: 23px;
    height: 23px;
    border: none;
}
